@charset "UTF-8";
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Regular.woff2) format("woff2");
  font-weight: 400;
  font-size: normal;
  font-display: swap;
}
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-base:#645C55;
  --color-light: #FFFFFF;
  --color-light-gray: #ECE7E4;
  --color-dark-gray: #403E3B;
  --color-circle: #CEC4BC;
  --color-dark: #1B1A1A;
  --color-accent: #83634a;
  --font-family-base: "Poppins", sans-serif;
  --container-width: 73.125rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-base);
  background-color: var(--color-light);
}

main {
  flex-grow: 1;
}

h1, .h1 {
  font-size: clamp(1.875rem, 0.8125rem + 4.358974359vw, 4rem);
  line-height: 1.1;
  font-weight: 400;
  color: var(--color-dark);
}

h2, .h2 {
  font-size: clamp(1.5rem, 1.03125rem + 1.9230769231vw, 2.4375rem);
  line-height: 1.08;
  font-weight: 400;
  color: var(--color-dark);
}

h3, .h3 {
  font-size: clamp(1.25rem, 0.875rem + 1.5384615385vw, 2rem);
  line-height: 1.19;
  font-weight: 400;
}

h4, .h4 {
  font-size: clamp(1.125rem, 0.96875rem + 0.641025641vw, 1.4375rem);
  line-height: 1.3;
  font-weight: 400;
  color: var(--color-dark-gray);
}

h5, .h5 {
  font-size: clamp(0.875rem, 0.75rem + 0.5128205128vw, 1.125rem);
  line-height: 1.53;
  font-weight: 400;
  color: var(--color-dark-gray);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--color-light);
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 3.125rem 6.25rem;
  padding-block: 1.375rem;
}
@media (width <= 47.99875rem) {
  .header {
    padding-block: 0.625rem;
  }
}
@keyframes scrolling-header {
  to {
    box-shadow: 0 0 1rem 0 var(--color-dark);
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  column-gap: 1.25rem;
}
.header__logo {
  align-self: center;
  cursor: pointer;
}
.header__logo svg path {
  fill: var(--color-dark);
}
@media (any-hover: hover) {
  .header__logo:hover svg path {
    fill: var(--color-accent);
  }
}
@media (any-hover: none) {
  .header__logo:active svg path {
    fill: var(--color-accent);
  }
}
.header__body {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
}
@media (width <= 90.06125rem) {
  .header__body {
    column-gap: 1.25rem;
  }
}
@media (width <= 47.99875rem) {
  .header__body {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    padding: 1rem;
    background-color: var(--color-light-gray);
    transition-duration: var(--transition-duration);
  }
  .header__body:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header__menu-list {
  display: flex;
  column-gap: 2rem;
}
@media (width <= 90.06125rem) {
  .header__menu-list {
    column-gap: 1rem;
  }
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    flex-direction: column;
    text-align: center;
    row-gap: 0.625rem;
  }
}
.header__menu-link {
  font-size: 0.9375rem;
  line-height: 1.6;
  color: var(--color-dark);
}

.button-base {
  font-size: 1rem;
  letter-spacing: 0.03em;
  color: var(--color-light);
  background-color: var(--color-dark);
  text-wrap: nowrap;
  padding: 0.6875rem 1.25rem;
  border-radius: 0.875rem;
}
@media (any-hover: hover) {
  .button-base:hover {
    background-color: var(--color-accent);
    color: var(--color-light);
  }
}
@media (any-hover: none) {
  .button-base:active {
    background-color: var(--color-accent);
    color: var(--color-light);
  }
}

.burger-button {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-dark);
  background-color: var(--color-light);
  padding: 0.625rem 0.4375rem;
  border: none;
  cursor: pointer;
}
@media (any-hover: hover) {
  .burger-button:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .burger-button:active {
    color: var(--color-accent);
  }
}
.burger-button.is-active .burger-button__line:nth-child(1) {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.25em 0;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:nth-child(3) {
  width: 0;
}
.burger-button__line {
  width: 100%;
  height: 0.125rem;
  background-color: currentColor;
  border-radius: 1rem;
  transition-duration: var(--transition-duration);
}

@media (width <= 47.99875rem) {
  .partners {
    padding-top: 3.125rem;
  }
}

.partners-info {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6.875rem;
  padding-left: 1rem;
}
@media (width <= 63.99875rem) {
  .partners-info {
    column-gap: 3.75rem;
  }
}
@media (width <= 47.99875rem) {
  .partners-info {
    flex-direction: column;
    row-gap: 1.875rem;
    padding-left: 0;
  }
}
.partners-info__content {
  width: 100%;
  max-width: 31.875rem;
}
@media (width <= 47.99875rem) {
  .partners-info__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-inline: 1rem;
    max-width: 100%;
  }
}
.partners-info__subtitle:not(:last-child) {
  margin-bottom: 1.25rem;
}
.partners-info__title:not(:last-child) {
  margin-bottom: 1.125rem;
}
.partners-info__description {
  color: var(--color-dark-gray);
}
.partners-info__description:not(:last-child) {
  margin-bottom: 1.875rem;
}
.partners-info__link {
  letter-spacing: 0.03em;
  color: var(--color-dark);
}
@media (any-hover: hover) {
  .partners-info__link:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .partners-info__link:active {
    color: var(--color-accent);
  }
}

.subtitle-base {
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}

.partners-firm {
  display: flex;
  justify-content: center;
  padding-block: 6.25rem;
}
@media (width <= 47.99875rem) {
  .partners-firm {
    padding-block: 3.125rem;
  }
}
.partners-firm__body {
  display: flex;
  align-items: start;
  column-gap: 1.25rem;
  max-width: 48rem;
}
@media (width <= 47.99875rem) {
  .partners-firm__body {
    flex-direction: column;
    row-gap: 1.875rem;
  }
}
.partners-firm__title {
  font-size: 2rem;
  line-height: 1.19;
  color: var(--color-dark-gray);
  width: 100%;
  max-width: 16.75rem;
}
.partners-firm__content {
  display: grid;
  row-gap: 1.125rem;
}
.partners-firm__list {
  display: grid;
  row-gap: 0.625rem;
}

.author-card {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
}
.author-card__name {
  font-size: 1.0625rem;
  line-height: 1.53;
  color: var(--color-balck);
}
.author-card__department {
  font-size: 0.875rem;
  line-height: 1;
}

.illustration-architecture__body {
  position: relative;
  height: 37.5rem;
}
@media (width <= 47.99875rem) {
  .illustration-architecture__body {
    height: 18.75rem;
  }
}
.illustration-architecture__image {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (width <= 63.99875rem) {
  .illustration-architecture__image {
    opacity: 0.4;
  }
}
.illustration-architecture__text {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: 4.6875rem;
  z-index: 90;
  max-width: 17.8125rem;
  padding-left: 1rem;
}
.illustration-architecture__text--reverse {
  right: 0;
  left: 3.75rem;
}
@media (width <= 47.99875rem) {
  .illustration-architecture__text--reverse {
    left: 0;
  }
}
.illustration-architecture__title {
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: var(--color-dark-gray);
}

.process-info {
  padding-block: 6.25rem;
}
@media (width <= 47.99875rem) {
  .process-info {
    padding-block: 3.125rem;
  }
}
.process-info__text {
  display: grid;
  row-gap: 0.8125rem;
  text-align: center;
}
.process-info__text:not(:last-child) {
  margin-bottom: 2.5rem;
}
.process-info__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.625rem;
}
@media (width <= 47.99875rem) {
  .process-info__list {
    grid-template-columns: 1fr;
    row-gap: 1.875rem;
  }
}
.process-info__item {
  text-align: center;
}
.process-info__icon:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.process-info__title:not(:last-child) {
  margin-bottom: 0.625rem;
}
.process-info__description {
  max-width: 18.4375rem;
  margin: 0 auto;
}
@media (width <= 47.99875rem) {
  .process-info__description {
    max-width: 31.25rem;
  }
}

.process-clients {
  background-color: var(--color-dark-gray);
  color: var(--color-light-gray);
  padding-block: 3.75rem;
}
@media (width <= 47.99875rem) {
  .process-clients {
    padding-block: 3.125rem;
  }
}
.process-clients__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.875rem;
  padding-left: 2.25rem;
  padding-right: 9rem;
}
@media (width <= 63.99875rem) {
  .process-clients__body {
    padding-inline: 1rem;
  }
}
@media (width <= 47.99875rem) {
  .process-clients__body {
    display: grid;
    justify-content: stretch;
    row-gap: 1.875rem;
  }
}
.process-clients__content {
  max-width: 28.125rem;
}
@media (width <= 47.99875rem) {
  .process-clients__content {
    max-width: 31.25rem;
    margin: 0 auto;
    text-align: center;
  }
}
.process-clients__title {
  color: var(--color-light);
}
.process-clients__title:not(:last-child) {
  margin-bottom: 0.875rem;
}
.process-clients__description {
  font-size: 0.9375rem;
}
.process-clients__brands {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 6rem;
}
@media (width <= 47.99875rem) {
  .process-clients__brands {
    gap: 1.25rem;
    justify-items: center;
  }
}
@media (width <= 30.06125rem) {
  .process-clients__brands {
    grid-template-columns: 1fr;
  }
}
.process-clients__brands svg path {
  fill: var(--color-light);
}
@media (any-hover: hover) {
  .process-clients__brands svg:hover path {
    fill: var(--color-accent);
  }
}
@media (any-hover: none) {
  .process-clients__brands svg:active path {
    fill: var(--color-accent);
  }
}

/*# sourceMappingURL=main.css.map */