@use 'helpers' as *;

.author-card {
    display: flex;
    align-items: center;
    column-gap: rem(30);

    &__name {
        font-size: rem(17);
        line-height: 1.53;
        color: var(--color-balck);
    }

    &__department {
        font-size: rem(14);
        line-height: 1;
    }
}